.snake {
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.head::before {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
}

.head.up::before {
  transform: rotate(45deg) translate(-50%, -50%);
}

.head.down::before {
  transform: rotate(45deg) translate(50%, 50%);
}

.head.left::before {
  transform: rotate(45deg) translate(-50%, 50%);
}

.head.right::before {
  transform: rotate(45deg) translate(50%, -50%);
}

.snake:not(.head) {
  border: 1px solid #ccc;
}
